<html>
	<head>
        <!-- LIBRARIES -->
        <script src="libraries/jquery/jquery-3.2.1.js" type="application/javascript"> </script>
        <script src="libraries/bootstrap/js/bootstrap.min.js" type="application/javascript"> </script>
        <link href = "libraries/bootstrap/css/bootstrap.min.css" type ="text/css" rel=stylesheet>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- STYLES -->
        <link type="text/css" href="styles/index.css" rel=stylesheet>
        
        <title> Login </title>
    	<!-- SCRIPTS -->
        <script> var context = "" </script>
    	<script src="scripts/index.js" type = "application/javascript"> </script>
    </head>
    
    <body>
        <!-- MAIN BG -->
        <div id="bg"> </div>
        <!-- MAIN OVERLAY -->
        <div id="overlay"> </div>
        
        <!-- MAIN LOGIN CONTAINER START -->
        <div id="main">
            <div id = "login-container">
                <h2> DLSU </h2>
                <input id = "username-field" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <input id = "password-field" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                <button id = "login" type="button" class="btn btn-dark"> Login </button>
            </div>
        </div>
        <!-- MAIN LOGIN CONTAINER END -->
    </body>
</html>